#logoPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;
}

#background{
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: "fixed";
    filter: 'grayscale(40%)';
}

.login_text{
    margin-bottom: 2rem;
    color: white;
    font-weight: bolder;
}

#login_box{
    border-width: .2rem;
    border-color: rgb(197, 102, 126);
    background-color: rgba(236, 195, 205, 0.959);
} 

nav{
    background-color:rgb(173, 229, 233);
    height: 4rem;
}

